<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Форма 76 - Генериране на справка</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<!--
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('#submitbtn').attr('disabled','disabled');
            $('#srcFile').change(function () {
                $('#submitbtn').removeAttr('disabled');
            });

            // var $form = $('#uploadFileForm');
            // $form.submit(function( e ){
            //     alert('1');
            //
            //     $.ajax( {
            //         url: $(this).attr('action'),
            //         type: 'POST',
            //         data: new FormData( this ),
            //         processData: false,
            //         contentType: false,
            //         success: function(data){
            //             alert(data);
            //         }
            //     } );
            //
            //     e.preventDefault();
            // });
        });

    </script>
    <style>
        body {
            padding: 0;
            margin: 0;
            background: #dfe7dd;
        }

        .navbar {
            height: 30px;
            background: #198754;
        }

        .content {
            width: 900px;
            margin: 100px auto;
        }



    </style>
</head>
<body>
<div class="navbar"></div>
<div class="container">
    <form action="/form76/generate" method="POST" id="uploadFileForm" enctype="multipart/form-data">
        <h2>Генериране на справка "Форма 76" от файл с данни:</h2>
        <hr/>
        <div class="form-group">
            <label>Файл за обработка: </label><br/>
            <input type="file" name="srcFile" id="srcFile" class="form-control" style="margin-top: 10px;"><br>
        </div>

        <div class="checkbox">
            <input type="checkbox" id="firstLast" name="firstLast" value="true">
            <label for="firstLast">Отчитане само на първо влизане и последно излизане за деня</label><br>
        </div>
        <hr/>
        <div class="button-group">
            <button type="submit" class="btn btn-success" id="submitbtn">Генерирай "Форма 76"</button>
        </div>

    </form>

</div>

</body>
</html>